<!DOCTYPE html>
<html lang="en">
      <head>
         <title>Kaley Rubi Mendoza-Pineda</title>
   </head>

   <body>

      <header>
         <!-- Image and text -->
         <nav class="navbar navbar-dark bg-dark">
           <a class="navbar-brand" href="KaleyHome.html">
             
             Kaley Mendoza-Pineda
           </a>

           <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link active" id="button1" href="KaleyHome.html"><i class="fas fa-home"></i> Home Page </a>
              </li>
              <li class="nav-item">
               <a class="nav-link" href="about.html"><i class="fas fa-info-circle"></i> More about me :) </a>
              </li>
              <li class="nav-item">
               <a class="nav-link" href="Portfolio.html"><i class="fas fa-heart"></i> Portfolio </a>
              </li>
            </ul>
         </nav>
      </header>

         <div class="studio-container">
    <h1>Architecture 241 Studio</h1>
    <p>Final sketches from my design project on creating a building for visiting artists.</p>
    
    <div class="gallery">
        <div class="gallery-item">
            <%= image_tag "Plans1.jpg", alt: "Plans Sketch", class: "img-fluid rounded" %>

            <p>Floor Plans</p>
        </div>
        <div class="gallery-item">
            <%= image_tag "Sections1.jpg", alt: "Sections Sketch", class: "img-fluid rounded" %>
            <p>Building Sections</p>
        </div>
        <div class="gallery-item">
            <%= image_tag "elevation.jpg", alt: "Elevation Sketch", class: "img-fluid rounded" %>
            <p>Elevation</p>
        </div>
        <div class="gallery-item">
            <%= image_tag "sitePlan.jpg", alt: "Site Plan Sketch", class: "img-fluid rounded" %>
            <p>Site Plan</p>
        </div>
    </div>
</div>


         
   </body>
</html>