<!-- 

Kaley MP

 -->


<!DOCTYPE html>
<html lang="en">
	<head>
		<title> Kaley Rubi Mendoza-Pineda </title>
		
	</head>

	<body>

		<header>
			<!-- Image and text -->
			<nav class="navbar navbar-dark bg-dark">
			  <a class="navbar-brand" href="KaleyHome.html">
			    
			    Kaley Mendoza-Pineda
			  </a>

			  <ul class="nav nav-pills">
				  <li class="nav-item">
				    <a class="nav-link active" id="button1" href="KaleyHome.html"><i class="fas fa-home"></i> Home Page </a>
				  </li>
				  <li class="nav-item">
				  	<a class="nav-link" href="about.html"><i class="fas fa-info-circle"></i> More about me :) </a>
				  </li>
				  <li class="nav-item">
				  	<a class="nav-link" href="Portfolio.html"><i class="fas fa-heart"></i> Portfolio </a>
				  </li>
				</ul>

			</nav>
		</header>

		<div class="container">

			<div class="jumbotron">
				<h1 class="display-4">Kaley Mendoza-Pineda</h1>
				<p id = "paragraph1" class="lead"><i class="fas fa-smile"></i> Class of 2027, Architectural Studies major, Computer Science minor.</p>
				<hr class="my-4">
				<p>I am a motivated student at Connecticut College, pursuing a major in Architectural Studies with a minor in Computer Science. My academic journey has been driven by a passion for creativity, design, and problem-solving, with coursework spanning from Visual Design to advanced coding and 3D modeling. Outside the classroom, I have gained practical experience through internships and held leadership roles in organizations like M.E.Ch.A. and Las Voces Unidas, where I foster cultural engagement and community. With a strong foundation in design, technical skills, and leadership, I am committed to making a positive impact within my community and beyond. I thrive in dynamic environments where I can apply my skills and collaborate with others to achieve meaningful goals. As I continue to explore new opportunities, I am excited about the possibilities ahead and look forward to contributing to innovative projects and initiatives. I welcome connections with fellow professionals and enthusiasts who share my interests in design, technology, and social impact. Let’s inspire and create together!
				</br>
				</p>
				<a class="btn btn-primary btn-lg" href="Portfolio.html" role="button"><i class="fas fa-heart"></i> Portfolio</a>
			</div>

			<div class="card">
			  <h5 class="card-header"><i class="fas fa-envelope"></i> Contact Info</h5>
			  <div class="card-body">

				<div class="row">
				    <div class="col-sm">
				      	<p>Email: <a href="mailto:kmendozap@conncoll.edu">kmendozap@conncoll.edu</a></p>
				    </div>




				    <div class="col-sm">
				      <ul class="list-group" id="todosList"></ul>
				    </div>
				</div>
			  </div>
			</div>

			<section>
					
			</section>

		</div>



		<footer class="footer text-center">
	      <div class="container">
	        <span class="text-muted">¡Gracias Por Visitar! Come Again Soon.</span> <i class="far fa-copyright"></i>
	      </div>
	    </footer>

		

	</body>
</html>
