<!DOCTYPE html>
<html lang="en">
      <head>
         <title>Kaley Rubi Mendoza-Pineda</title>
         
   </head>

   <body>

      <header>
         <!-- Image and text -->
         <nav class="navbar navbar-dark bg-dark">
           <a class="navbar-brand" href="KaleyHome.html">
             
             Kaley Mendoza-Pineda
           </a>

           <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link active" id="button1" href="KaleyHome.html"><i class="fas fa-home"></i> Home Page </a>
              </li>
              <li class="nav-item">
               <a class="nav-link" href="about.html"><i class="fas fa-info-circle"></i> More about me :) </a>
              </li>
              <li class="nav-item">
               <a class="nav-link" href="Portfolio.html"><i class="fas fa-heart"></i> Portfolio </a>
              </li>
            </ul>
         </nav>
      </header>

         <div class="studio-container">
         <h1>ART 207: Design Type & Image</h1>
         <p>Graphic posters from current project on Ukrainian Fonts</p>
         
         <div class="gallery">
             <div class="gallery-item">
                <%= image_tag "odessa1.jpg", alt: "Ukrainian Font Design 1", class: "img-fluid rounded" %>
                 <p>Odessa Design</p>
             </div>
             <div class="gallery-item">
                <%= image_tag "design2.jpg", alt: "Ukrainian Font Design 2", class: "img-fluid rounded" %>
                 <p>Font Exploration</p>
             </div>
             <div class="gallery-item">
                <%= image_tag "design3.jpg", alt: "Ukrainian Font Design 3", class: "img-fluid rounded" %>
                 <p>Typography Study</p>
             </div>
         </div>
      </div>


         
   </body>
</html>